/* codice colori 
backgound pulsante black #23272a
background bianco #fff
background grigi #f6f6f6
background footer #23272a
colore hr del footer #4a5882
colore testo del footer #7289da */

/* Da mettere sempre  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pontano Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

/* Font comune a tutti */

.h1, .h2 {
    font-size: 50px;
    font-weight: 700;
}

.h4 {
    font-size: 30px;
    font-weight: 700;
}

.text-1 .h6 {
    font-weight: 700;
}

.h6 {
    font-size: 20px;
    margin-top: 50px;
}

/* Comune a tutti */

[class^="container-"] {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    height: 100%;
    padding-bottom: 50px;
}

/* [class^="content-"] {
    height: 600px;
} */

/* inizia codice css per header */

header {
    background: url(../img/jumbo.png) center center;
    height: 700px;
    background-size: cover;
}

/* codice per la nav */

.topbar {
    width: 100%;
}

nav.topbar, div#text-1 {
    height: 34px; /* TODO */
    line-height: 34px;
    color: white;
}

nav.topbar .logo {
    width: 25%;
    height: 100%;
}

nav.topbar .menu {
    width: 50%;
    height: 100%;
}

nav.topbar .menu li {
    display: inline-block;
    margin-left: 20px;
}

li {
    list-style: none;
}

.menu {
    text-align: right;
    font-weight: 700;
}

.login {
    background-color: white;
    border-radius: 30px;
    margin-left: 15%;
    padding: 1px 10px 1px 10px
}

.login {
    font-size: 14px;
    color: black;
    font-weight: 600;    
    display: inline;
}

/* codice per il testo e i bottoni nell'header */

.jumbo-buttons {
margin-top: 20px;
text-align: center;
}

.jumbo-buttons, [class^="button-"] {
    display: inline-block;
    text-align: center; 
    line-height: 50px;
    font-weight: 600; 
    border-radius: 50px;
    font-size: 20px;
    padding: 1px 25px 1px 25px
}

.button-white {
    color: black;
    background-color: white;
    margin-right: 30px;
}

span.arrow:after {
    content: '\2913';
    color: black;
    font-size: 25px;
    font-weight: 900;
    padding-right: 10px;
}

.button-black {
    color: white;
    background-color: #23272a;
}

#text-1 {
    margin-top: 100px;
    height: 100px;
    text-align: center;
    width: 70%;
    margin-left: 100px;
}

/* inizio codice css sezione 1 + sezione 3*/

.image-1 {
    width: 70%;
}

.text-2 {
    width: 30%;
    margin-top: 50px;
}

/* inizio codice css sezione 2 */

.bg-gray {
    background-color: #f6f6f6;
}


.image-2 {
    width: 60%;
}

.text-3 {
    width: 40%;
}

/* inizio codice css sezione 4 */


.content-4 {
    text-align: center;
}

/* .star {
    text-align: center;
} */

.h4 {
    width: 531px;
    height: 49px;
    margin: 0 auto;
}

.button-blue{
    margin-top: 30px;
    color: white;
    background-color: #7289da;
    font: 20px;

}

span.arrow-1:after {
    content: '\2913';
    color: white;
    font-weight: 900;
    padding-right: 10px;
}


/* inizio footer */

footer {
    height: 500px;
    background-color: #23272a;
}


/* codici da cancellare una volta finito il sito */

